
<% if @user %>
<% if @user.errors.any? %>
  <div class="row">
    <div class="col-xs-4">
    </div>

    <div class="col-xs-4">
    <strong>Gah! Foiled!</strong>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>

    <div class="col-xs-4">
    </div>
  </div>
<% end %>
<% end %>

<div class="row">
  <div class="col-xs-12 text-center">
    <h2>Please sign up</h2>
  </div>
</div>

<div class="row">
  <form action="/signup" method="POST" class="form-inline" role="form">
    <div class="col-xs-12 text-center">

      <div class="form-group">
        <label class="sr-only" for="emailAddress">Email address</label>
        <input 
          type="email"
          name="email" 
          class="form-control col-xs-6" 
          placeholder="enter your email address">
      </div>


      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input 
          type="password" 
          name="password" 
          class="form-control" 
          placeholder="enter your password">
      </div>

    </div>
</div>

<br />

<div class="row">
  <div class="col-xs-12 text-center">  
      <button type="submit" class="btn btn-default">Sign up</button>
  
  </form>

  </div>
</div>