<div class="continer-fluid">

<div class="row">

  <div class="col-xs-12 text-center">
    <h1>Ditto</h1>
  </div>

</div>

<div class="row">
  <div class="col-xs-5 text-center">
  <p>Left</p>
  </div>

  <div class="col-xs-2 text-center">
  <p>Center!</p>
  </div>

  <div class="col-xs-5 text-center">
  <p>Right</p>
  </div>


</div>


<div class="row">
  <div class="col-xs-12 text-center">

  <form action="/game" method="POST" class="form-inline" role="form">

  <div class="form-group">
      <input 
        type="email"
        name="guess"
        type="text" 
        class="form-control text-center" 
        placeholder="MAKE A ME HAPPY">
  </div>

  </div>


  <div class="row">
  <div class="col-xs-12 text-center">

    <div class="form-group">

<br />

      <button 
        type="submit" 
        name="guess"
        class="btn btn-default">
        SUBMIT YOUR GUESS
        </button>
    </div>

  </div> 
  </div>
  
  </form>

  </div>
</div>



</div>

</div>