<div class="continer-fluid">


<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Ditto</h1>
    <h2>Game ID: <%= @game.id %> </h2>
    <h2>User: <%= current_user.email %></h2>
    <h2>Actually player: <%= @game.actually_player(current_user) %></h2>
  </div>
</div>

<% if !Round.round_exists?(@game) && @game.player1?(current_user) %>
<div class="row">
  <h2>Round doesn't exists!!!</h2>

  <div class="col-xs-12 text-center">
    <form
    action="/game/<%= @game.id %>/create-round" 
    method="POST"
    class="form-inline" 
    role="form">
  </div>

  <div class="col-xs-12 text-center">
    <input 
        type="text"
        class="form-control text-center" 
        placeholder="WHAT'S THE COMMONALITY?"
        NAME="first_word">
  </div>

  <div class="col-xs-12 text-center">
    <button 
      type="submit" 
      name="Submit"
      class="btn btn-default">
          MAKE IT GOOD
    </button>
  </div>

  </form>

</div>
<% end %>





<% if Round.round_exists?(@game) %>
  <h2>Round exists!!!</h2>

<% end %>



</div>