<div class="continer-fluid">
<div class="row">

  <div class="col-xs-12 text-center">
    <h1>Ditto</h1>
  </div>

</div>


<div class="row">

  <div class="col-xs-12 text-center">
    <% if current_user %>
        <h4>Hey there, you!</h4>
        <h2><%= current_user.email%></h2>
    <% end %>
  </div>

</div>


<div class="row">
  <div class="col-xs-12 text-center">

  <form action="/create" method="POST" class="form-inline" role="form">

    <div class="form-group">
        <input 
          type="email"
          name="player2"
          type="text" 
          class="form-control text-center" 
          placeholder="REQUEST THE COMPANY OF A FRIEND">
    </div>

<div class="col-xs-12 text-center">
<p>
<small>You can't start a match with yourself, so don't. Just don't.
</small>
</p>

  </div>


  <div class="row">
  <div class="col-xs-12 text-center">

    <div class="form-group">
    <button 
      type="submit" 
      name="Submit"
      class="btn btn-default">
      Start a game with this joker
      </button>
    </div>

  </div> 
  </div>
  
  </form>

<br />
<% @games.user_games(current_user).each do |user_game| %>
<div class="row">

<div class="col-xs-4">
</div>

<a href="/game/<%= user_game.id %>">  
  <div class="alert alert-success col-xs-4 text-center">
  <p>ROUND: <%= Round.where(game_id: user_game.id).count %>
    Other Guy: <%= Game.find(user_game.id).other_player(current_user) %><br />
  </div>
</a>

<div class="col-xs-4">
</div>

</div>
<% end %>

</div>
</div>