
<div id="wrap">
  
    <p>Your content here</p>

    <div class="row ">
         
    </div>

   <div class="row"> 
     <div class="col-xs-4">
       <div class="img-push-2"></div>
     </div>
     <div class="col-xs-4">
       <div class="img-push-2"></div>
     </div>
     <div class="col-xs-4">
       <div class="img-push-2"></div>
     </div>
   </div>


  <!-- GradientBox Begin -->
  <div class="row word-box-gradient word-box ">

    <div class="col-xs-2"></div>
    <div class="col-xs-8 text-center">
      <h3>Word_01</h3>
      <h3>Word_02</h3>
      <h3>Word_03</h3>
      <h3>Word_01</h3>
      <h3>Word_01</h3>
      <h3>Word_02</h3>
     
    </div>
    <div class="col-xs-2"></div>

  </div>
  <!-- Gradient Box End -->

  <!-- Submit Start -->
  <form action="" method="POST">
  <div class="row">
    <div class="col-xs-3 text-center"></div>
    <div class="col-xs-6 text-center block-center input-color  "> 
      <label class="sr-only">Word Input</label>
      <input type="text" name="submit_word" placeholder="Enter your word here" class="word input-lg center-block">

    </div>
    <div class="col-xs-3 text-center"></div>
  </div>
  <!-- Submit Middle -->
  <div class="row submit-box-bottom">
    <div class="col-xs-3 text-center"></div>
    <div class="col-xs-6 text-center block-center speech-tri">

      <input type="submit" class=" blue-button btn btn-default btn-primary btn-lg center-block" value="SUBMIT YOUR WORD">
      </form>
    
    </div>
    <div class="col-xs-3 text-center"></div>
  </div>
  <!-- Submit End -->



  <!-- Footer Begin -->
      <div class="row footer-bg">
        <div class="col-xs-4 text-right">
          <img 
            src="/images/one.jpg" 
            class="img-bottom img-circle circle-border avatar-img"/> 
        </div>
        <div class="col-xs-4 text-center"></div>
        <div class="col-xs-4 text-left">
            <img 
              src="/images/two.jpg" 
              class="img-bottom img-circle circle-border avatar-img"/>
        </div>
      </div>
  <!-- Footer End -->
</div>





      
















